<?xml version="1.0"?>
<config>
    <adminhtml>
        <events>
            <cms_wysiwyg_images_static_urls_allowed>
                <observers>
                    <catalog_wysiwyg>
                        <class>catalog/observer</class>
                        <method>catalogCheckIsUsingStaticUrlsAllowed</method>
                    </catalog_wysiwyg>
                </observers>
            </cms_wysiwyg_images_static_urls_allowed>
            <admin_system_config_changed_section_catalog>
                <observers>
                    <mage_catalog>
                        <class>core/observer</class>
                        <method>cleanCacheByTags</method>
                    </mage_catalog>
                </observers>
            </admin_system_config_changed_section_catalog>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <catalog>
                <use>standard</use>
                <args>
                    <module>Mage_Catalog</module>
                    <frontName>catalog</frontName>
                </args>
            </catalog>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <catalog>
                        <type>model</type>
                        <class>catalog/post_compare_item</class>
                        <method>bindCustomerLogin</method>
                    </catalog>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <catalog>
                        <type>model</type>
                        <class>catalog/post_compare_item</class>
                        <method>bindCustomerLogout</method>
                    </catalog>
                </observers>
            </customer_logout>
        </events>
    </frontend>
</config>
