<?xml version="1.0"?>
<config>
    <global>
        <newsletter>
            <tempate_filter>newsletter/template_filter</tempate_filter>
        </newsletter>
    </global>
    <adminhtml>
        <events>
            <customer_save_after>
                <observers>
                    <newsletter_subscribe_observer>
                        <class>newsletter/observer</class>
                        <method>subscribeCustomer</method>
                    </newsletter_subscribe_observer>
                </observers>
            </customer_save_after>
            <customer_delete_after>
                <observers>
                    <newsletter_subscribe_observer>
                        <class>newsletter/observer</class>
                        <method>customerDeleted</method>
                    </newsletter_subscribe_observer>
                </observers>
            </customer_delete_after>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <customer_save_after>
                <observers>
                    <newsletter_subscribe_observer>
                        <class>newsletter/observer</class>
                        <method>subscribeCustomer</method>
                    </newsletter_subscribe_observer>
                </observers>
            </customer_save_after>
            <customer_delete_after>
                <observers>
                    <newsletter_subscribe_observer>
                        <class>newsletter/observer</class>
                        <method>customerDeleted</method>
                    </newsletter_subscribe_observer>
                </observers>
            </customer_delete_after>
        </events>
        <routers>
            <newsletter>
                <use>standard</use>
                <args>
                    <module>Mage_Newsletter</module>
                    <frontName>newsletter</frontName>
                </args>
            </newsletter>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <newsletter_send_all>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>newsletter/observer::scheduledSend</model>
                </run>
            </newsletter_send_all>
        </jobs>
    </crontab>
</config>
