*                       { margin:0; padding:0; }

body                    { background:#eeeeee; color:#959595; font:14px/1.5em "Microsoft YaHei","微软雅黑",verdana,sans-serif;  }

a                       { color:#1e6ec1; text-decoration:none; outline: none; }
a:hover                 { color:#00649d; text-decoration:none; }
a img                   { border:0; }
:focus                  { outline:0; }
a:active {outline:0;}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
/* Heading */
h1, h2, h3, h4          { color: #333; margin-bottom:.5em; line-height:1.4em; font-weight:normal; }
h2                      { font-size:23px; }
h3                      {
    color: #333;
    font-size: 16px;
    margin-bottom: 0.5em;
}
h4                      { margin-bottom:.6em; color:#494848; font-size:1.05em; }
h5                      { font-size:1.05em; }
h6                      { font-size:1em; }
h1 a, h1 a:hover, 
h2 a, h2 a:hover, 
h3 a, h3 a:hover,
h4 a, h4 a:hover        { font-weight:normal; }

/* Table */
th                      { padding:0; text-align:left; vertical-align:top; }
td                      { padding:0; vertical-align:top; }

/* Paragraph */
p, address              { margin-bottom:.5em; }
address                 { font-style:normal; }
cite                    { font-style:normal; font-size:10px; }
q:before, 
q:after                 { content:'';}

/* Form */
form                    { display:inline; }
fieldset                { border:0; }
legend                  { display:none; display:block !important; height:0; line-height:0; margin:0; overflow:hidden; padding:0; width:0; visibility:hidden; }
label                   {  }
input, select           { vertical-align:middle; }
button[disabled], html input[disabled] {
	color: #999;
}
textarea                { overflow:auto; background-color: #fff;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset;
    overflow: auto;
    padding:5px;
}
.textarea-input {
    resize: none;
    vertical-align: top;
}
input, select {
    vertical-align: middle;
}
/* Lists */
ul,ol                   { list-style:none; }
dt                      { display:block; }

/* Size */
small                   { font-size:.9em; }
big                     { font-size:1.25em; }
table { border:none; }
.clr {clear:both;}
.break {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pa {position:absolute;}
.pr {position:relative;}
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left       { float:left !important; }
.f-right       { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.wrapper {margin:0 auto;width:1280px;}
.cke_toolbar_break {
	clear:none !important;
	display:none !important;
}

.fs12 {font-size:12px !important; }
.fs13 {font-size:13px !important; }
.fs14 {font-size:14px !important; }
.fs15 {font-size:15px !important; }
.fs16 {font-size:16px !important; }
.fs18 {font-size:18px !important; }
.fs20 {font-size:20px !important; }
.fs22 {font-size:22px !important; }
.fs25 {font-size:25px !important; }
.wp18 { width:18% !important;float:left; }
.wp25 { width:25% !important;float:left; }
.wp30 { width:30% !important;float:left; }
.wp33 { width:33% !important;float:left; }
.wp34 { width:34% !important;float:left; }
.wp50 { width:50% !important; }
.wp55 { width:55% !important; }
.wp45 { width:45% !important; }
.wp60 { width:60% !important; }
.wp68_5 { width:68.5% !important; }
.wp70 { width:70% !important; }
.wp73 { width:73% !important; }

.wp75 { width:75% !important; }
.wp80 { width:80% !important; }
.wp40 { width:40% !important; }
.wp100 { width:100% !important; }
.w74 { width: 74px !important; }
.w50 { width: 50px !important; }

.w100 { width: 100px !important; }
.w125 { width: 125px !important; }
.w150 { width: 150px !important; }
.w160 { width: 160px !important; }
.w180 { width: 180px !important; }
.w200 { width: 200px !important; }
.w220 { width: 220px !important; }
.w250 { width: 250px !important; }
.w197 {
    width: 197px !important;
}
.w274 { width: 274px !important; }
.w377 { width: 377px !important; }
.w660 { width: 660px !important; }
.w770 { width: 770px !important; margin: 0 auto; }
.w950 { width: 950px !important;  margin: 0 auto; }
.w1140 { width: 1140px !important;  margin: 0 auto; }
.p0 { padding: 0 !important; }
.p5 { padding: 5px !important; }
.p510 { padding: 5px 10px !important; }
.p5_0 { padding: 5px 0 !important; }
.p10_0 { padding: 10px 0 !important; }
.p10_15 { padding: 10px 15px !important; }
.p15_20 {
    padding: 15px 20px !important;
}
.p20_15 {
    padding: 20px 15px !important;
}
.p25_40 { padding: 25px 40px !important; }
.p10 { padding: 10px !important; }
.p15 { padding: 15px !important; }
.p20 { padding: 20px !important; }
.p230 { padding: 20px 30px !important; }
.p25 { padding: 25px !important; }
.p30 { padding: 30px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt35 { padding-top: 35px !important; }
.m0 { margin:0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mb2 { margin-bottom: 2px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb18 { margin-bottom: 18px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb80 { margin-bottom: 80px !important; }
.mt0 { margin-top: 0px !important; }
.mt2 { margin-top: 2px !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }

.bb0 { border-bottom:0 !important;}
.bt0 { border-top:0 !important;}

.mr0 { margin-right:0 !important; } 
.mr5 { margin-right:5px !important; }
.mr10 { margin-right:10px !important; } 
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right:20px !important; } 
.mr30 { margin-right:30px !important; }
.mr100 { margin-right:100px !important; } 

.ml5 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; } 
.ml15 { margin-left:15px !important; } 
.ml20 { margin-left:20px !important; } 
.ml25 { margin-left:25px !important; } 
.ml30 { margin-left:30px !important; } 
.ml40 { margin-left:40px !important; }
.ml50 { margin-left:50px !important; }
.ml60 { margin-left:60px !important; }
.ml55 { margin-left:55px !important; }



.fa-edm:before {
  content: "\f0e0";
}
.fa-shop:before {
  content: "\f07a";
}
.fa-document:before {
  content: "\f0f6";
}
.fa-task:before {
  content: "\f0ae";
}
.fa-attendance:before {
  content: "\f274";
}
.fa-project:before {
  content: "\f0e0";
}
.fa-bill:before {
  content: "\f157";
}
.fa-material:before {
  content: "\f0e0";
}
.fa-approve:before {
  content: "\f0f4";
}
.fa-crm:before {
  content: "\f0c0";
}
.fa-bi:before {
  content: "\f201";
}
.fa-wms:before {
  content: "\f21a";
}
.fa-college:before {
  content: "\f19d";
}
.fa-bulletin:before {
  content: "\f0a1";
}
.fa-index:before {
  content: "\f015";
}
.fa-email:before {
  content: "\f003";
}
.fa-setting:before {
  content: "\f085";
}
.fa-stat:before {
  content: "\f080";
}
.fa-client:before {
  content: "\f0c0";
}
.fa-help:before {
  content: "\f29c";
}
.fa-account:before {
  content: "\f2bd";
}
.fa-feedback:before {
  content: "\f044";
}
.fa-save:before {
  content: "\f046";
}
.fa-email2:before {
  content: "\f2b6";
}

.fa-template:before {
  content: "\f1c2";
}
.fa-design:before {
  content: "\f1c5";
}
.fa-article:before {
  content: "\f15c";
}

.bg-white {
    background-color: #fff !important;
}
.bg-grey {
    background: #eee none repeat scroll 0 0 !important;
}
.dw360 {
    width: 360px;
}

.input-label-align {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    width: 108px;
}
.input-text-nobrder {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    height: 30px;
    line-height: 28px;
    padding: 0 12px;
    width: 100%;
}
.w232 {
    width: 232px;
}
.btn-green {
    background: #34ca67 none repeat scroll 0 0;
    border: 1px solid #34ca67;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ccc;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 42px;
    margin-bottom: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 5px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-green:hover {
    background-color: #0096d2;
    border-color: #0096d2;
    color: #fff;
}
.form-buttons button {
	
}
.form-buttons .add {
    
}

table.actions button:hover {
	background: #0096d2 none repeat scroll 0 0;
	border:1px solid #0096d2;
    color: #fff;
}
.ipt,
.input-text,
.form-list select,
.filter select,
.form-list .input-user-wrap {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset;
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
}

.c-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d2d4d6;
    border-radius: 0;
    box-shadow: 0 1px 0 0 #dadbde;
}
.c-box-nobb {
	border-bottom: 0;
	box-shadow: none;
}
.c-box td > .entry-edit {
	margin:30px 20px 50px;
}
.c-box-wide {
    width: 100%;
}
.c-box-wide .content-header {
    padding: 16px 25px;
}


.c-box h5 {
    color: #333;
    font-weight: bold;
}
.main-col-inner .c-box {
	width: 100%;
}
.c-box .content-header {
    background: #f3f8fc linear-gradient(to top, #e8f1f9, #fdfefe) repeat scroll 0 0;
    border-bottom: 1px solid #d2d4d6;
    color: #626262;
    height: 45px;
    padding: 0 15px;
}
.c-box .content-header button {
    margin-top: 5px;
}
.content-header h2,
.content-header h3 {
    color: #626262;
    font-size: 16px;
    font-weight: normal;
    height: 45px;
    line-height: 45px;
    margin: 0;
}
.c-box .grid table,
.c-box .content-header table {
    border: 0 none;
    width: 100%;
}
.c-box .grid table a:hover {
	text-decoration:underline;
}
table .progress {
	margin:0;
}
.c-box .content-header table td {
    padding: 0;
}
.c-box .content-header table .form-buttons {
    text-align: right;
}
.c-box .content-header table .form-buttons button {
	margin-top: 5px;
	margin-left: 5px;
}
.c-box .content-header h2 {
    margin: 0;
}
.c-box .btn-search {
    border-radius: 0 3px 3px 0;
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0 0 0 -1px;
    padding: 0 42px;
    width: 168px;
}
.c-box .box-inner {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #DDD;
    padding: 20px;
}

/********************** d-box **********************/
.d-box,
.e-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 12px 20px;
}

.d-box .title h3 {
    font-size: 17px;
    font-weight: normal;
    line-height: 23px;
}
.d-box .empty {
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 50px;
    text-align: center;
}
.d-box-h {
    padding: 6px 15px;
}
.d-box-h h3 { font-size: 14px; }
.e-box {
	padding:0;
}

.e-box .h {
    border-bottom: 1px solid #ddd;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
}
.e-box .h .actions {
	line-height:40px;
}
.e-box .h h3 {
    line-height: 40px;
}
.e-box .inner {
    padding: 10px 20px;
}

.side-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.side-box .panel-heading {
    background: #f3f8fc linear-gradient(to top, #e8f1f9, #fdfefe) repeat scroll 0 0;
    border-bottom: 1px solid #d2d4d6;
    padding: 8px 20px;
}

.panel-heading h2 {
    font-size: 17px;
}
.side-box .panel-control {
	padding: 0;
}
.panel-control h2 {
    height: 42px;
    line-height: 42px;
    padding-left: 20px;
    width: 210px;
    float:left;
}

.panel-control .actions {
    border-left: 1px solid #d3d3d3;
    float: right;
    height: 42px;
    width: 54px;
}
.panel-control .actions a {
    color: #666;
    display: block;
    height: 42px;
    line-height: 42px;
}
.panel-control .actions a .fa {
    font-size: 18px;
    margin: 14px 20px 0 0;
}

.side-box .panel-heading h2 span {
    color: #ccc;
    font-size: 16px;
    margin-left: 7px;
    text-transform: uppercase;
}
.side-box .tags a {
    background-color: #f6f6f6;
    color: #999;
    float: left;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    margin: 0 1% 1% 0;
    overflow: hidden;
    padding: 0 8px;
    width: 32.3333%;
    transition: all 0.25s ease 0s;
}
.side-box .tags a:hover {
	background: #1fa67a;
	text-decoration:none;
	color:#fff;
}

.side-box .ilist li {
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.side-box .ilist li a {
    color: #666;
}
.side-box .ilist li a:hover {
    color: #1fa67a;
}

.side-box .gbox-i {
    background-color: #fff;
    border-bottom: 1px dashed #ddd;
    color: #777;
    float: left;
    padding: 15px 15px 15px;
    position: relative;
    text-align: center;
    width: 50%;
}
.side-box .gbox-0, 
.side-box .gbox-2,
.side-box .gbox-4, 
.side-box .gbox-6,
.side-box .gbox-8, 
.side-box .gbox-10 {
    border-right: 1px dashed #ddd;
}
.side-box .gbox-100 {
    border-bottom: medium none;
    margin-bottom: 0;
    width: 100%;
}
.side-box .gbox-i h4 {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin-bottom:0;
}
.side-box .gbox-i h4 a {
	color: #999;
}
.side-left {
    background: #2d6dcc none repeat scroll 0 0;
    box-shadow: 0 0 5px #ccc;
    float: left;
    width: 180px;
}
.side-left-s {
    float: left;
    width: 217px;
}
.side-left-main {
    float: right;
    margin-left: 0;
    width: 1090px;
}
.sides-main {
    float: left;
    margin: 0 0 20px 10px;
    width: 1090px;
}
.sides-main .main-col-inner {
    float: left;
    width: 804px;
}
.sides-main .items-box {
    padding: 15px;
}
.sides-main .side-right {
    float: right;
    width: 275px;
}

.navleft > li.parent {
    height: auto;
    padding: 0;
}

.navleft > li.parent > ul {
    background: #235aad none repeat scroll 0 0;
    display: none;
    margin: 0;
    padding: 8px 0;
}
.navleft > li.parent > a .fa.f-right {
    float: right;
    margin: 16px 5px 0 0;
}
/************** right side ***********************/
.side-setting {
    background-color: #ee5b43 !important;
    border-color: #e74443;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 42px;
    line-height: 40px;
    padding: 0 14px 0 20px;
}
.side-setting .fa-angle-down,
.side-setting .fa-angle-up {
    margin: 14px 3px 0 0;
}
.side-box .apps-item {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    float: left;
    height: 86px;
    padding: 10px;
    text-align: center;
    width: 91px;
}
.side-box .apps-item:hover {
	background: #f9f9f9;
}
.side-box .apps-item.last {
    border-right: 0 none;
}
.side-box .apps-item.bottom {
    border-bottom: 0 none;
}
.side-box .apps-item a {display:block; color: #333; }
.side-box .apps-item a:hover {text-decoration:none; }
.side-box .apps-item span {
    display: block;
    font-size: 13px;
    margin-top: 5px;
    width: 100%;
}
/************** side banner **********************/
.side-widget a {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 3px 6px 1px #c2c2c2;
    display: block;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
    padding: 0 15px 15px;
}
.side-widget a:hover {
	text-decoration:none;
}

.side-widget a strong {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin: -1px 0 0;
    padding: 4px 15px;
}
.side-widget a.s01 strong {
	background-color: #ff5e52;
}
.side-widget a.s02 strong {
	background-color: #1fa67a;
}
.side-widget a h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
}
.side-widget a p {
    color: #999;
    margin-bottom: 0;
}
/******************** header ********************/
.header {
    background: #2d6dcc linear-gradient(to top, #246dda, #4d8ff1) repeat scroll 0 0;
    border-bottom: 4px solid #ff9933;
    box-shadow: 0 1px 2px #aaa;
    height: 52px;
    position: relative;
    width: 100%;
    z-index: 998;
    color: #FFF;
    line-height: 52px;
}

.header .logo a.home {
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 20px 0 0;
    text-transform: uppercase;
}
.header .logo a.home:hover {
	text-decoration:none;
}
.header .more {
    margin: 0 20px;
}
.header .more a {
    color: #eee;
    font-weight: normal;
    line-height: 48px;
    padding: 0 10px;
}
.header .more a:hover {
	color:#FFF;
}

/* Floating Content Header */
.content-header-floating { 
    background: #1b926c none repeat scroll 0 0;
    border-bottom: 1px solid #988753;
    color: #fff;
    display: none;
    left: 0;
    opacity: 0.85;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.content-header-floating .content-header {
    border: 0 none;
    margin-bottom: 0;
    padding: 7px 25px;
}
.content-header-floating h2 {
    line-height: 32px;
    margin: 0;
}
.content-header-floating td     { padding-right:20px; }
.content-header-floating button { margin-top:3px; }
.content-header-floating .content-buttons { float:right; /* margin:12px 25px 0 0;*/ }
.content-buttons { margin-bottom:5px; float:right; display:inline; white-space:nowrap; }
.content-header-floating .form-buttons {padding-right:20px; }
.content-header-floating h3 {margin-left:20px; display:inline; }
/******************** Menu **********************/

.nav-m li,
.nav-h li.level0 {
    float: left;
    line-height: 48px;
    padding: 0 15px;
    position:relative;
    height:52px;
}
.nav-m li {
    margin-right: 5px;
}
.nav-m > li:hover,
.nav-m > li.active {
    background: #235aad none repeat scroll 0 0;
    border-bottom: 4px solid #ee5b43;
}
.nav-m li > div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px 0 #aaa;
    color: #333;
    display: none;
    left: -185px;
    padding: 18px 20px;
    position: absolute;
    top: 52px;
    width: 495px;
}
.nav-m li > div h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
.nav-m li > div ul li {
    cursor: pointer;
    float: left;
    height: 38px;
    line-height: 38px;
    margin: 0;
    /*padding: 0 0 0 30px;*/
    width: 112px;
}
.nav-m li > div a {
    color: #666;
    text-shadow: none;
}
.nav-m li > div a:hover {
	color:#2db3c4;
}
.nav-m li:hover div {
	display:block;
}
.nav-m li a {
    color: #fff;
    height: 46px;
    line-height: 48px;
    display: block;
}
.nav-m > li.active > a {
    
    font-weight: bold;
}
.nav-h li.level0 > a,
.nav-h li.level0 .btn-group .btn {
    background: #235aad none repeat scroll 0 0;
    border: 1px solid #235aad;
    color: #f5f5f5;
    display: block;
    font-size: 13px;
    height: 31px;
    line-height: 31px;
    margin: 7px 0 5px;
    padding: 0 10px 0 0;
}
.nav-h .avatar {
    height: 28px;
    vertical-align: top;
    width: 28px;
}

.nav-h li.level0 .btn-group {
    margin-top: -4px;
}
.nav-h li.level0 .btn-group .btn {
    border-radius: 0;
    padding: 0 15px;
    margin:0;
}
.nav-h li.level0 {
    padding: 0 4px;
}
.nav-m li a:hover {
	text-decoration:none;
}

#nav{float: left;}
#nav li{float: left;padding: 0;position: relative;}
#nav li.over{z-index:99;}
#nav li.active{z-index:100;}
#nav .level0 > a:hover,
#nav .level0 > a.active{border-bottom: 2px solid #c40022;}
#nav span{display:block;}
#nav span i {
    margin-left: 5px;
}
#nav a{
    color: #eee;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 300;
    height: 48px;
    letter-spacing: 0;
    line-height: 48px;
    padding: 0 20px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
#nav a.active{background-color: #1b926c;color: #fff;}
#nav a:hover{color: #fff;}
/************ 1ST LEVEL ***************/
#nav li.active{}
#nav li.active em{display:block;position:absolute;top:0;right:-1px;width:3px;height:27px;background:url(images/nav1_active.gif) no-repeat 100% 0;}
#nav > li > a > span{float:left;}
#nav > li > a > span .fa{float: left;line-height: 52px;margin: 0 6px;}
#nav > li > a > .fa{margin-left: 5px;}
/************ 1ST LEVEL RESET ************/
#nav ul li.over a,
#nav ul li.over a:hover,
#nav ul a,
#nav li.active li{font-weight:normal;}
/************ 2ND LEVEL ************/
#nav ul{background: #fff none repeat scroll 0 0;border-radius: 0;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);left: -10000px;min-width: 150px;padding: 0;position: absolute;top: 48px;}
#nav ul ul{padding-top:2px;left:100px;top:13px;}
/* Show menu*/
#nav li.over ul{left:-1px;}
#nav li.over ul ul{left:-10000px;}
#nav li.over ul li.over ul{left:100px;}
#nav ul li{padding:0;text-align: left;width: 100%;display:block;}
#nav ul li a:hover{background:#f1f1f1;color: #000;}
#nav li.over ul a,
#nav ul li.active a,
#nav ul li a{color: #333;display: block;font-size: 15px;font-weight: 500;height: 35px;line-height: 35px;padding: 0 12px;text-shadow: none;}

/********************* navigation *************/

.navigation {

}
.navigation-header {
    background: #ee5b43 none repeat scroll 0 0 !important;
    padding: 20px 15px;
    text-align:center;
}
.navigation-header .app-name {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
}
.navigation-header .app-name .fa {
	vertical-align: top;
}
.navigation-header .left-appset {
    margin-top: 5px;
}
.navigation-header .btn-appset {
    background-color: #49566f;
    border-radius: 2px;
    color: #e4e7ed;
    display: block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    opacity: 0.6;
    text-align: center;
    width: 58px;
}
.navleft {
    background: #2d6dcc none repeat scroll 0 0;
    font-size: 15px;
    min-height: 618px;
    padding: 0;
}
.navleft a {
    color: #fff;
}


.navleft > li.line {

}
.navleft > li.active,
.navleft > li:hover {
	background: #1150AF;
}
.navleft > li a.active,
.navleft > li a:hover {
	color: #FFF;
}
.navleft > li > a {
    border-bottom: 1px solid #1c5dbf;
    display: block;
    padding: 0 12px 0 20px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
}
.navleft > li.nolink:hover {
	background: none;
}
.navleft > li.nolink > a {
	color: #555;
	cursor:default;
}
.toponly .navleft > li > a {
    border-bottom: 1px solid #ddd;
    border-left: medium none;
    font-size: 16px;
    font-weight: normal;
    height: 60px;
    line-height: 60px;
    text-indent: 30px;
    margin:0;
}
.toponly .navleft > li > a:hover {
	background: #1150AF;
	color: #FFF;
}
.toponly .navleft > li:last-child > a {
	border-bottom:0;
}
.navleft > li > ul {
    margin-bottom: 15px;
}
.navleft a:hover {
	text-decoration:none;

}
.navleft li.level1 > a {
    display: block;
    height: 26px;
    line-height: 26px;
}

.navleft > li.parent.active > ul {
	display:block;
}
.navleft li.level1 {
    font-size: 14px;
    padding: 5px 10px 5px 50px;
}

.navleft li.level1:hover {
	background: #1150AF;
}
.navleft li.level1:hover a {
	color: #FFF;
}
/********************** pager *****************/
.pager li > a, .pager li > span {
    border-radius: 0;
    color: #666;
    font-size: 16px;
}
.pager li:hover > a {
	color:#000;
	background:#f1f1f1;
}
.pager li.current > span {
	background:#1fa67a;
	color: #fff;
}
/********************** body ******************/
.middle { 
	min-height:550px; 
	padding:0; 
}



/******************** form list **********/
.entry-edit-head {
    margin-top: 15px;
    position: relative;
}
.entry-edit-head h4 {
    background: #fff none repeat scroll 0 0;
    color: #999;
    font-size: 15px;
    font-weight: normal;
    left: 20px;
    padding: 0 10px;
    position: absolute;
    top: -21px;
}
table.form-list {
    border: 0 none;
    width:100%;
}
.form-list .input-text,
.form-list select,
.form-list textarea,
.form-list .input-user-wrap {
    width: 480px;
}
.fieldgroup .form-list td {
	padding:5px 3px;
}
.fieldgroup .form-list .label,
.fieldgroup .form-list .value {
	width:auto;
}

.fieldgroup .form-list .input-text,
.fieldgroup .form-list select,
.fieldgroup .form-list textarea,
.fieldgroup .form-list .input-user-wrap {
    width: 100%;
}
.form-list .small-image-preview {
	border: 1px solid #ddd;
	background: #3b5999 none repeat scroll 0 0;
	margin-bottom: 10px;
}
.fieldset-short .form-list .input-text,
.fieldset-short .form-list select,
.fieldset-short .form-list .input-user-wrap {
    width: 320px;
}
.form-list .input-user-wrap {
	padding-right:0;
}
.form-list .input-user-wrap .inner {
	width:440px;
	float:left;
	height: 32px;
	
}
.form-list .input-user-wrap a {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    width:30px;
    display:block;
    float:right;
}
.form-list .input-user-wrap a .fa {
	margin:8px 9px;
}
.form-list .input-user {
    display: none;
}
fieldset-wide .form-list .input-text {
    width: 100%;
}
.form-list td {
    box-sizing: border-box;
    padding: 5px 10px;
}
.entry-edit .td {
    padding: 10px;
}
.form-list .label,
.form-list label {
    display: table-cell;
    float: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    text-align: right;
    vertical-align: top;
    width: 15%;
    color: #666;
}
.form-list label.line {
    display: inline;
    float: none;
    line-height: 27px;
    margin: 0;
    text-align: left;
}
.form-list label .required {
	color:#c7254e;
}
.form-list label.inline {
    display: inline;
    margin-left: 5px;
    margin-right: 20px;
    width: auto;
}
.form-list .value {
	width: 85%;
}
.form-list-multi .value {
	width: auto;
}
.form-list .note {
    background: rgba(0, 0, 0, 0) url("../images/note_bg.gif") no-repeat scroll 0 8px;
    color: #888;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 2px;
    padding-left: 10px;
}


.user-tag {
    background: #0096d2 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    margin-right: 5px;
    padding: 3px 2px 3px 6px;
}
.user-tag .name {
    margin-right: 2px;
}
.user-tag .delete {
    color: #ddd;
    cursor: pointer;
    padding: 0 5px;
}
.user-tag .delete:hover {
	color: #FFF;
}

.fieldset {

}
.fieldset.first {
    border-top: 0 none;
    margin-top: 0;
}
.fieldset.last {
	margin-bottom:30px;
}
/************** message *************/
#messages {
    float: left;
    width: 100%;
}
#messages > ul { margin:0; }
.messages li { list-style: outside none none; }
.messages li.error-msg,
.messages li.success-msg {
    background: #f9f2f4 none repeat scroll 0 0;
    border-radius: 3px;
    color: #c7254e;
    
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.messages li.success-msg {
    background: #d8ecde none repeat scroll 0 0;
    color: #4cad4e;
}
/*************** form validate ******/
.error, a.error span, .required, .validation-advice {
    color: #d40707 !important;
}
.validation-advice {
    background: rgba(0, 0, 0, 0) url("../images/validation_advice_bg.gif") no-repeat scroll 2px 1px;
    clear: both;
    font-size: 0.95em;
    line-height: 1.25em;
    margin: 3px 0 0 0;
    min-height: 15px;
    padding-left: 16px;
}

/*************** grid **********/
table.actions {
    color: #626262;
    margin-bottom: 5px;
    margin-top: -5px;
    width: 100%;
}
table.actions .input-text {
    border: 1px solid #ccc;
    box-shadow: none;
    height: 20px;
    line-height: 20px;
    padding: 0 2px;
    text-align: center;
    width: 38px;
}
table.actions .pager {
    color: #999;
    font-size: 13px;
}
table.actions select {
	border:1px solid #ccc;
}
.filter select {
    height: 28px;
    line-height: 28px;
    width:100%;
}
table.actions button {
    margin-left: 5px;
    padding: 4px 15px;
}
table.actions .pager {
	text-align:left;
}
.grid .filter .input-text {
    border: 1px solid #ddd;
    box-shadow: none;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    width: 100%;
}
.grid table { border:none; }
.grid th {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #eee;
    box-shadow: 0 1px 0 #fff inset;
    color: #626262;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    padding: 0 5px;
    text-align: center;
}
.d-box2 .grid th {
	height:32px;
	line-height:32px;
}
.grid .filter th {
    background: #fafafa none repeat scroll 0 0;
    height: 35px;
    line-height: 30px;
    padding: 0 3px;
    text-indent: 0;
}
.grid th a {
    color: #626262;
}
.grid td {
    background: #f9f9f9 none repeat scroll 0 0;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    height: 59px;
    padding: 5px;
    vertical-align: middle;
}
.d-box2 .grid td {
	line-height:32px;
	height:32px;
}
.grid td.empty-text {
    color: #999;
    padding: 120px 60px;
}
.grid tr:nth-child(2n+1) > td {
	background: #fff none repeat scroll 0 0;
}
.grid table .action-select {
    border: 1px solid #bbb;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}


/************** grid ***********/
.item-grid {
    margin: 0;
}
.item-grid .item {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
    padding: 10px;
    width: 245px;
}
.item-grid-design .item {
	height: 295px;
}
.item-grid .item.last {
    margin-right: 0;
}
.item-grid img {
    width: 220px;
}
.item-grid .item h3 {
    margin: 10px 0 0;
}
.article-grid .item h3 {
    height: 45px;
    line-height: 22px;
    overflow: hidden;
}
.article-grid .item .sdesc {
    color: #999;
    height: 65px;
    overflow: hidden;
}
.item-grid .item h3 a {
    color: #333;
    font-size: 15px;
}
.item-grid .item h3 a:hover {
	color:#1fa67a;
}

/************** detail table *********/
.detail-table thead strong {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    margin-left: 5px;
}
.detail-table th, .detail-table td {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eee;
    font-weight: normal;
    padding: 10px 15px;
}
.detail-table td {
    background: #fff none repeat scroll 0 0;
    vertical-align: middle;
}
.detail-table th {
    color: #888;
    text-align: right;
}


/******************************************** 弹层 ********************************************/

.lbme {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #888;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: -155px 0 0 -260px;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 650px;
    z-index: 999;
}
.lbme .inner {
    background: #fff none repeat scroll 0 0;
    padding: 0;
}

.lbme-h {
    background: #f3f8fc linear-gradient(to top, #e8f1f9, #fdfefe) repeat scroll 0 0;
    border-bottom: 1px solid #d2d4d6;
    box-shadow: 0 1px 0 #fff;
    padding: 5px 15px 3px;
    text-align: left;
    white-space: normal;
}
.lbme h3 {
    color: #474747;
    font-size: 18px;
    font-weight: normal;
    line-height: 38px;
    margin: 0;
    padding: 0;
}
.lbme-h .btn {
    font-size: 16px;
    height: 38px;
    line-height: 36px;
    margin: 0;
    padding: 0 12px;
}
.lbme .close {
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 36px;
}
.lbme .close i {
    height: 20px;
    left: 50%;
    margin: -10px 0 0 -10px;
    position: absolute;
    top: 50%;
    width: 20px;
}
.lbme .inner .bx {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    color: #777;
    float: left;
    height: 68px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 20%;
}
.lbme .inner .bx.over,
.lbme .inner .bx:hover {
	background:#6196e4;
	text-decoration:none;
}

.lbme .inner .bx.over h5,
.lbme .inner .bx:hover h5 {
	color: #FFF;
}
.lbme .inner .bx h5 {
    color: #666;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin: 12px 0;
    text-shadow: none;
}
.lbme .inner .bx i {
	display:none;
	position:absolute;
	right:6px;
	bottom: 5px;
}
.lbme .inner .bx.over i,
.lbme .inner .bx:hover i {
	display:block;
	color:#fff;
}
/****************** dialog ***************/
.dialog-personalSet-header {
    border-bottom: 1px solid #d3d3d3;
    height: 41px;
}
.dialog-personalSet-header ul {
    margin-left: 164px;
}
.dialog-personalSet-header li {
    cursor: pointer;
    float: left;
    height: 41px;
    line-height: 40px;
    padding: 0 2px;
    position: relative;
}
.dialog-personalSet-header li + li {
    margin-left: 56px;
    position: relative;
}
.dialog-personalSet-header li.active {
    color: #4f98e9;
}
.dialog-personalSet-header li.active::after {
    background-color: #4f98e9;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 52px;
}
.dialog-personalSet-section {
    padding: 20px 30px 0 20px;
}
.dialog-personalSet-img {
    padding-left: 46px;
    padding-top: 27px;
}
.dialog-w480 {
    width: 480px;
}
.dialog-padding {
    padding: 18px 0 13px 20px;
}
.tip-required {
    color: #fa4a4c;
    display: inline-block;
    font-size: 16px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 10px;
}

.xubox_page .empty {
    background: #fff none repeat scroll 0 0;

    padding: 38px 50px;
    text-align: center;
    
}
.xubox_page .fieldset {
    background: #fff none repeat scroll 0 0;
    margin: 0;
    padding: 20px 30px;
    width: 450px;
}
.xubox_page .form-list .input-text, 
.xubox_page .form-list select, 
.xubox_page .form-list .input-user-wrap {
	width:100%;
}
.xubox_page .form-list .input-user-wrap .inner {
    float: left;
    height: 32px;
    width: 200px;
}
/******************** footer *************/
.footer {
	background-color: #DDDDDD;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF');
    background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#FFFFFF));
	background: -moz-linear-gradient(top,  #DDDDDD,  #FFFFFF);
	background: -o-linear-gradient(top, #DDDDDD, #FFFFFF) transparent;
    border-top: 1px solid #ccc;
    color: #888;
    margin-top: 60px;
    padding: 18px 20px;
    position: relative;
    text-align: center;
}