/* LOGIN
*******************************************************************************/
*                       { margin:0; padding:0; }
body                    { background:#f0f0f0; color:#333; font:14px/1.5em "微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;  }
a {
    color: #398aee;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.no-display {display:none;}
.left {float:left;}
.right {float:right;}
.clr {clear:both;}
.messages li { list-style: outside none none; }
.messages li.error-msg,
.messages li.success-msg {
    background: #f9f2f4 none repeat scroll 0 0;
    border-radius: 3px;
    color: #c7254e;
    
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 5px 10px;
}
.messages li.success-msg {
    background: #d8ecde none repeat scroll 0 0;
    color: #4cad4e;
}
#page-login                             {
	text-align: center;
}
.login-container                        {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b6b6b6;
    border-radius: 0;
    box-shadow: 0 0 6px #999;
    margin: 168px auto;
    width: 500px;
}

.login-box .input-text {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15) inset;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;
    margin-bottom: 10px;
    padding: 2px 6px;
    width: 100%;
}
.login-form .heading {
	border-bottom:1px solid #b6b6b6;
	padding:15px 20px;
	white-space:normal;
	box-shadow:0 1px 0 #fff inset;
	background:#cfd1cf;
	text-align: left;
	background-image:linear-gradient(to bottom,#f5f5f5,#cfd1cf);
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#f5f5f5',endColorstr='#cfd1cf')
}
.login-form h2                          {
    color: #333;
    font-family: "微软雅黑";
    font-size: 23px;
    font-weight: normal;
    margin: 0;
}
.c-box {
    padding: 30px 35px;
    text-align: left;
}

.login-form label                       {
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
    width:100%;
}
.login-form .form-buttons               {
    clear: both;
    text-align: right;
}

.login-form .form-button {
    background: #55c357 none repeat scroll 0 0;
    border: 1px solid #38ae3a;
    border-radius: 3px;
    box-shadow: 0 2px 2px #ccc;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 42px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
}
.login-form .form-button:hover {
    background-color: #4cad4e;
    border-color: #409642;
}
.login-container .legal {
	padding:10px 8px 8px;
	position:relative;
	color: #666;
	border-top:1px solid #bfbfbf;
	box-shadow:0 1px 0 #fff inset;
	background:#cfd1cf;background-image:linear-gradient(to bottom,#ebebeb,#cfd1cf);
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ebebeb',endColorstr='#cfd1cf')
}
.login-form .validation-advice          {

}
.login-form .forgot-link                { margin:0 17px 0 0; text-align:right; }
.login-form .captcha                    { padding:10px 0 0; }
.login-form .captcha-image              { border:1px solid #aaa; margin:1.5em 0 0; position:relative; }
.login-form .captcha-image img          { vertical-align:bottom; }
.login-form .captcha-reload             { cursor:pointer; position: absolute; top:2px; right:2px; }
.login-form .captcha-reload.refreshing  { animation:rotate 1.5s infinite linear; -webkit-animation:rotate 1.5s infinite linear; -moz-animation:rotate 1.5s infinite linear; }